.react-tel-input .form-control {
    width: 100%!important;
    margin: 10px 0!important;
}
.right__content{
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.login{
    color: black;
}
.login:hover{
    color: black;
}