#nav-top {
    background-color: black;
}

#nav-top button {
    border-color: white;
    color: white;
    border-radius: 0;
    padding: 0 15px;
    font-size: 0.7rem;
}

.navbar-nav a {
    font-size: 0.9rem;
    text-transform: uppercase;
}

#brand {
    width: 200px;
}
.top__btn:hover {
    background-color: white;
    color: black!important;
    transition: all 1s;
}

.btn{
    background-color: black;
    color: white;
    padding: 10px 15px !important;
    font-size: 13px !important;
    font-weight: 500;
}

